<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <script src="login.js" defer></script>
</head>
<body>
    <form id="userDetails">
        <label for="userName">User Name: </label>
        <input type="text" id="userName"><br>
        <label for="password">Password: </label>
        <input type="password" id="password"><br>
        <button>Login</button>
    </form>
    <p>New user?</p>
    <button id="register">Register</button>
</body>
</html>


