<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="register.js" defer></script>
</head>
<body>
    <form id="register">
        <label for="first-name">First Name: </label>
        <input type="text" id="first-name"><br>
        <label for="last-name" >Last Name: </label>
        <input type="text" id="last-name"><br>
        <label for="user-name">User Id: </label>
        <input type="text" id="user-id" id="user-id"><br>
        <div id="warning-space"></div>
        <label for="password">Enter Password: </label>
        <input type="password" id="password"><br>
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password"><br>
        <button>Register</button>
    </form>
</body>
</html>